<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link href="css/admin.css" rel="stylesheet">

        <title>Admin</title>
    </head>
    <body>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <div id="search" class="margin_v">
                    <form id="search" class="form-inline">
                        <input id="search_bar" class="form-control mr-3" type="text" placeholder="Search Users" aria-label="Search">
                        <i id="search_button" class="bttn fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>

                <div class="row">
                    <div id="user_picture" class="col">
                        <img src="img/qt3.14.jpg">
                    </div>
                    <div id="user_info" class="col">
                        <p>Username: <span></span></p>
                        <p>Join date: <span></span></p>
                        <p>Is banned: <span></span></p>

                        <button id="ban" type="submit" class="btn btn-primary">Ban</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <form id="" class="form-inline margin_v">
                    <input id="name" class="form-control" type="text" placeholder="Name" aria-label="Name">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="description" class="form-control" type="text" placeholder="Description" aria-label="Description">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="genre" class="form-control" type="text" placeholder='["Genre1", "Genre2"]' aria-label="Genre">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="director" class="form-control" type="text" placeholder='["Director1", "Director2"]' aria-label="Director">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="writer" class="form-control" type="text" placeholder='["Writer1", "Writer2"]' aria-label="Writer">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="release_date" class="form-control" type="text" placeholder="Jan 1, 2100" aria-label="release_date">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="runtime" class="form-control" type="text" placeholder="Runtime" aria-label="Runtime">
                </form>

                <form id="" class="form-inline margin_v">
                    <input id="studio" class="form-control" type="text" placeholder="Studio" aria-label="Studio">
                </form>

                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="film" name="radio-stacked" required>
                    <label class="custom-control-label" for="film">Film</label>
                </div>
                <div class="custom-control custom-radio mb-3">
                    <input type="radio" class="custom-control-input" id="television" name="radio-stacked" required>
                    <label class="custom-control-label" for="television">Television</label>
                </div>

                <input id = "file" type="file" name="file">

                <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
            <div class="col-1"></div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="js/admin.js"></script>
    </body>
</html>
